name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:

  test:
    runs-on: ubunutu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r requirements-dev.txt

      - name: Run tests
        run: pytest -q